@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');
@font-face {
    font-family: "Gotham";
    src: url(/font/Gotham-Bold.otf);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1fcf3;
}
.header-desktop{
    background-color: #1d953c;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    padding-top: 10px;
    box-shadow: 0px 5px 20px 0px rgba(102, 102, 102, 0.2);
    position: absolute;
    z-index: 1;
}
.content-header{
    display: flex;
    flex-wrap: wrap;
}
.content-logo{
    border: 1px solid black;
    width: 120px;
    height: 50px;
    margin: 10px 42px 0px 0px;
}
.nav-menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}
.nav-menu li{
    border: 0px solid rgb(0, 0, 0);
    width:180px;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
    text-align: center;
}
.nav-menu a{
    text-decoration: none;
    color: #e9e9e9;
    font-size: 16pt;
    font-weight: bold;
    font-family: 'Yantramanav', sans-serif;
    transition: all 0.3s ease-in-out;
}
.img-nav{
    width: 12px;
    height: 12px;

}
.nav-menu a:hover{
    color: #ff7657;
}

#dropdown-menu {
    display: none;
}
#dropdown-menu li{
    text-align: center;
    height: 59px;
    width: 180px;
    padding: 10px 10px 0px 10px ;
    border: 0px solid rgba(0, 0, 0, 0.1);
    margin: 0px;
    transition: background-color 0.8s ease-in-out;
}
#dropdown-menu li:hover{
    background-color: #ffc87c96
}

.dropdown:hover #dropdown-menu {
    display: block;
    width: max-content;
    height: 210px;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px 5px rgba(102, 102, 102, 0.3);
}

.container-fluid{
    width: 100%;
    border: 0px solid black;
    height: 1000px;
    padding: 0px;
    margin: 0px;
    background-color: black;
}
.carrusel-img{
    width: 100%;
    height: 100%;
}
.carrusel-img img{
    width: 100%;
    height: 100%;
    border: none;
}
.nav-menu-2{
    border: 0px solid black;
    text-align: center;
    height: 500px;
}
.nav-menu-2 h2{
    font-family: 'Dongle', sans-serif;
    font-size: 36pt;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
}
.card-menu{
    display: flex;
    border: 0px solid black;
    justify-content:center;
    padding: 50px;
}
.card-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 480px;
    padding: 10px;
    margin: 20px;
    border: 0px solid black;

    background-color: #fbfad380;
    border-radius: 40px;
    box-shadow:0px 10px 40px -10px rgba(102, 102, 102, 0.4);
    transition: all 0.5s ease;
}
.card-item:hover{
    padding: 15px;
}
.card-item img{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 50%;
    background-color: wheat;
}
.card-item h3{
    width: 200px;
    margin: 0px;
    padding: 0px;
    font-family: 'Urbanist', sans-serif;
    font-size: 18pt;
}
.card-item p{
    width: 240px;
    text-align:left;
    font-size: 14pt;
    font-family: 'Urbanist', sans-serif;
}
.card-item a{
    text-decoration: none;
    font-size: 16pt;
}
.btn-redic{
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    font-size: 12pt;
    background-color: #729d39;
    color: white;
    font-family: 'Urbanist', sans-serif;
}
.container-grid{
    display: flex;
    justify-content: start;
    margin: 10px 0px 0px 0px;
    width: 80%;
    height: max-content;
    border: 0px solid black;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.ini-seccion{
    margin: 120px 0px 20px 0px ;
}
.ini-seccion h1{
    font-family: "Gotham", sans-serif;
    margin: 0px;
    font-size: 52pt;
    color: #2f5724;
}
.title-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.title-1 a{
    border: 0px solid black;
    margin: 10px 30px 10px 0px;
    font-family: 'Urbanist', sans-serif;
    font-size: 20pt;
    text-decoration: none;
    color: #A24CBB;
}
.card-indice{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    height: 50px;
    margin: 0px 0px 20px 0px;
}
.grid-cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 0px solid rgb(255, 0, 0);
    width: 100%;
    height: max-content;
    margin: 0px 30px 10px 0px;
    padding: 45px;
}
.card-prd{
    background-color: white;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 1350px;
    height: 450px;
    border: 0px solid blue;
    border-radius: 60px;
    margin: 0px 0px 30px 0px;
    padding: 30px;
    box-shadow:0px 10px 40px -10px rgba(102, 102, 102, 0.4);
}
.text-star{
    text-align: start;

}
.text-center{
    text-align: center;

}
.text-end{
    text-align: end;

}
.card-prd h2{
    width:100%;
    color: #448930;
    height: min-content;
    font-family: "Gotham", sans-serif;
    border: 0px solid black;
    font-size: 32pt;
    margin: 20px 20px 0px 20px;
}
.img-seccion{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 400px;
    border: 0px solid black;
    border-radius: 0% 0% 50% 50%;
    background: hsla(0, 0%, 100%, 1);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(207, 207, 207, 0.233) 50%, rgba(168, 168, 168, 0.404) 80%);
    background-image: url(/img/cultivo_2.jpg);
    margin: 0px 32px 0px 32px;
    overflow: hidden;
    bottom: 50px;
    transition: all 0.7s ease-in-out;
}
.img-seccion:hover{
    overflow: visible;
    height: 430px;
}
.img-seccion img{
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    width: 340px;
    height:380px;
    bottom: -20px;
    border:0px solid black;
    transition: all 1.5s ease-in-out;
    z-index: 1;
    transform: scale(1.1);
}
.img-seccion img:hover{
    bottom: 15px;
    transform: scale(1.3);
}
.info-seccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    border: 0px solid black;
    padding: 30px 0px 0px 0px;
}
.info-seccion p{
    font-family: 'Yantramanav', sans-serif;
    font-size: 16pt;
    margin: 0px 0px 40px 0px;
}
.info-seccion table{
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    border: 0px solid black;
    width: 98%;
    height: 100px;
    border-collapse: collapse;
    box-shadow:0px 15px 40px -10px #43893054;
}

th{
    background-color: #a9dc99;
    height: 50px;
}